<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="URLbase" value="http://automationpractice.com/" />
    <add key="Browser" value="Chrome" /> <!--Chrome | Firefox-->
    <add key="ModoOculto" value="Não" /> <!--só para Chrome-->
  </appSettings>

</configuration>
